
<div class="header">
  <div class="links">
    <a href="https://www.parker.com/portal/site/PARKER/menuitem.b90576e27a4d71ae1bfcc510237ad1ca/?vgnextoid=c38888b5bd16e010VgnVCM1000000308a8c0RCRD&vgnextfmt=EN">
      <img class="img" src="../../assets/VOM Logo 2 WC.png"></a>
    <a href="https://www.npmjs.com/package/@acaisoft/angular-azure-maps">
      <img class="img" src="../../assets/parker_logo.png"></a>
  </div>
  <h1 class="header_cnt">Angular 6 Azure Map Wrapper Sample Page!</h1>
</div>

<span>Our examples:</span>
<div class="nav">
  <a routerLink="/lazyload">Lazy Load</a>
  <a routerLink="/simplepin">Simple Pin</a>
  <a routerLink="/customsprite">Custom Sprite</a>
  <a routerLink="/currentposition">Current Position</a>
  <a routerLink="/animation">Animations</a>
  <a routerLink="/draggable-icon">Draggable Icon</a>
  <a routerLink="/custom-pin">Custom Pin</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

